:root {
    --clr-red: hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-dark-green: hsl(167, 40%, 24%);
    --clr-blue: hsl(198, 62%, 26%);
    --clr-light-blue: hsl(200, 100%, 72%);
    --clr-light-green: hsl(168, 34%, 41%);
    --clr-lightest-green: hsl(167, 44%, 70%);
    --clr-neutral-600: hsl(212, 27%, 19%);
    --clr-neutral-500: hsl(213, 9%, 39%);
    --clr-neutral-400: hsl(232, 10%, 55%);
    --clr-neutral-300: hsl(210, 4%, 67%);

    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;
}

body {
    font-family: var(--ff-primary);
}