@use '../base' as *;

.nav-toggle {
    z-index: 100;
    padding: 0;

    @media(min-width: 800px) {
        display: none;
    }
}


.nav {
    z-index: 1000;

    &__item {
        color: var(--clr-neutral-400);
    }

    &__list {
        text-align: center;
    }

    &__item+&__item {
        margin-top: 1.4rem;
    }


    @media (min-width: 800px) {

        &__list {
            display: flex;
            align-items: center;
        }

        &__item {
            color: #fff;
        }

        &__item+&__item {
            margin-top: 0;
            margin-left: 3rem;
        }
    }


}

@media (max-width: 800px) {
    .primary-nav {
        width: 87.5%;
        padding: 3.75em 0 2.5em 0;
        margin-inline: auto;
        transform: translateY(-150%);
        opacity: 0;
        background-color: #fff;
        position: absolute;
        top: 14%;
        left: 0;
        right: 0;
        bottom: auto;
        clip-path: polygon(93% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
        z-index: 1000;
        transition: all 0.4s ease;
    }

    .primary-nav[data-visible=true] {
        transform: translate(0);
        opacity: 1;

    }
}